.stockWrapper, .stockHeaderWrapper {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
  .stockWrapper {
    margin-top: 5%;
  }
  .stockHeaderWrapper {
    background-color: #5abde2;
  }
  
  .stockContainer {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
  }
  .stockHeaderContainer {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    height: 72px;
    padding: 0 5px;
    
  }
  .stockHeaderContainer > div {
    font-size: 25px;
  } 
  