.buttonStop, .buttonStopActive {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.buttonStop {
    background-color: white;
}
.buttonStopActive {
    background-color: #c9ecf9;
}
.buttonStop:hover {
    background-color: #c9ecf9;

}
.controlBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}
.stockWatchingGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 200px;
    height: 50px; 
    cursor: pointer;
    background-color: #c9ecf9;
    border-radius: 10px;
}
.stockWatchingGroup > span {
    font-size: 25px;
}
span > p {
    margin: 0;
}






  

